<div class="home-container">
  <main class="main-content">
    
    <img src="MateTec.png" alt="Título Matetec" class="title">

    <div class="options-menu">
            <a routerLink="/registro" class="menu-button">Iniciar Partida</a>
      <a routerLink="/puntuaciones" class="menu-button">Ver Puntuaciones</a>
      <button (click)="salir()" class="menu-button exit-button">Salir</button>
    </div>
    
  </main>
<img src="BuildBusinessLogo.png" alt="Logo Build Business" class="build-business-logo">

</div>